.wrapper .modal .modal-content,
#detailReviewer .modal .modal-content {
  width: 100% !important;
  height: unset !important;
  background-color: white !important;
  border: unset !important;
  margin-left: unset !important;
}
.contentMain .modal .modal-content {
  width: 100% !important;
  height: unset !important;
  background-color: white !important;
  border: unset !important;
  margin-left: unset !important;
}
