.login {
  .button-face {
    border-radius: 10px;
    border: 2px #3f64b7 solid;
    overflow: hidden;
    background-color: #3f64b7;
    outline: none;
    img {
      transform: scale(1.05);
    }
  }
  .button-google {
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: -10px;
    outline: none;
  }
}
