.headerBooking {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 3;
    top: -1px;
    left: 0;
    width: 100%;
    height: 80px;
    .active {
      color: #fb4226;
      position: relative;
      &::after {
        content: "";
        border-bottom: 2px solid #fb4226;
        width: calc(100% - 28px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ul{
      font-weight: 500;
    }
    li {
      line-height: 80px;
      display: inline-block;
      .stepNumber {
        font-size: 18px;
      }
    }
    .user-home{
      position: absolute;
      top: 0;
      right: 30%;
      cursor: pointer;
      &:hover {
        button.btn-sigh-out {
          display: block;
        }
      }
    }
    .btn-sigh-out {
      position: absolute;
      top: 79%;
      right: 0;
      display: none;
    }
  }
  
  #leftCheckout {
    min-height: calc(100% - 80px);
    width: 26%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -22%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .modalleft {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.7;
    }
  }

  #rightCheckout {
    position: fixed;
    top: 0;
    background-color: #fff;
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 3;
    width: 440px;
    height: 100%;
    width: 26% !important;
    .contentFullRight {
      padding-left: 40px;
      padding-right: 40px;
      height: 100%;
      padding-bottom: 100px;
      overflow-y: scroll;
      .total {
        height: 80px;
        border-bottom: 1px dashed #e9e9e9;
        margin-bottom: 15px;
        text-align: center;
        position: relative;
        .totalCost {
          font-size: 36px;
          color: #44c020 !important;
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate3d(-50%, -50%, 0);
          width: 300px;
        }
      }
      .filmname {
        border-bottom: 1px dashed #e9e9e9;
        padding-bottom: 12.5px;
        font-size: 16px;
        .c16 {
          background-color: #fb4226;
          color: #fff;
          border-radius: 4px;
          padding: 0 5px;
          float: left;
          margin-right: 5px;
          font-size: 12px;
          vertical-align: 2px;
          min-width: 33px;
          text-align: center;
        }
        .movie-name{
          font-weight: 500;
        }
      }
      .chair {
        border-bottom: 1px dashed #e9e9e9;
        padding-bottom: 12.5px;
        padding-top: 12.5px;
        margin-bottom: 12.5px;
        display: flex;
        .info {
          padding-left: 0;
          width: 58.33333333%;
        }
        .totalchair {
          width: 41.66666667%;
          color: #44c020 !important;
          font-size: 16px;
        }
      }
      .infouser,
      .voucher-promo {
        border-bottom: 1px dashed #e9e9e9;
        padding-bottom: 12.5px;
        margin-bottom: 12.5px;
        position: relative;
        .row {
          margin-left: 0;
          margin-right: 0;
          #apply-voucher {
            background-color: #afafaf;
            border-radius: 6px;
            padding: 5px 7px;
            cursor: pointer;
            top: 5px;
            font-size: 13px;
            font-weight: 300;
            color: #fff;
            width: auto;
            position: absolute;
            right: 0;
          }
          #emailCheckout,
          #phoneCheckout,
          #voucherPromotion {
            margin-top: 5px;
            padding-top: 12.5px;
            outline: 0;
            width: calc(100% - 16px);
            padding-right: 5px;
            padding-left: 0;
            border: 0;
          }
          .no-font-weight {
            font-size: 12px;
            font-weight: 300;
            top: 2px;
            position: absolute;
            color: #9b9b9b;
            left: 0;
            z-index: 1;
          }
        }
      }
      .methodpay {
        margin-bottom: 40%;
        font-size: 16px;
        cursor: pointer;
        .titlemethodpay {
          margin-bottom: 5px;
        }
      }
      .notice {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 4%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        margin-right: 19px;
        background: #fff;
        text-align: center;
        z-index: 2;
        .title {
          font-size: 14px;
          color: #4a4a4a;
        }
        .icon {
          margin-right: 8px;
          width: 16px;
          height: 16px;
        }
      }
      .buyticket {
        button{
        background-color: #afafaf;
        position: absolute;
        width: 100%;
        border:none;
        outline: none;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        text-align: center;
        padding-top: 12px;
        font-size: 24px;
        color: #e9e9e9 !important;
        margin-right: 15px;
        &:hover {
          background-color: $secondary;
        }
        }
      }
    }
  }

  #seatCheckout {
    margin-left: 4.3%;
    margin-top: 80px;
    float: left;
    padding-top: 30px;
    width: 69.7%;
    #seattv2 {
      .topContent {
        width: 90%;
        margin: 0 auto;
        height: 59px;
        .righttittle {
          float: right;
          margin-top: 10px;
          .info1 {
            line-height: 0;
            font-size: 10px;
            color: #9b9b9b;
            text-align: center;
          }
          .info2,
          .minute,
          .second {
            line-height: 1;
            font-size: 27px;
            color: #fb4226;
            text-align: center;
          }
        }
        .lefttittle {
          height: 0;
          .logocinema {
            float: left;
            width: 5.5%;
            margin-right: 13px;
            img {
              width: 100%;
            }
          }
        }
      }
      .seatmap {
        margin-top: 10px;
        .noteseat {
          margin-top: 50px;
          text-align: center;
          .typeseats {
            margin-top: 5px;
            display: flex;
            margin: 0 auto;
            width: 40%;
            .typeseat {
              margin-right: 10px;
              width: calc(100% / 3);
              .nameseat {
                color: #9b9b9b;
                font-size: 12px;
              }
            }
          }
        }
        .parent-panzoom {
          #seatmanroom {
            .sreen {
              text-align: center;
              .namesreen {
                img {
                  width: 90%;
                }
              }
            }
            .listseat {
              .rowseat {
                line-height: 1.1em;
                button{
                  width: 25px;
                  height: 25px;
                }
                .rowname {
                  width: 22px;
                  height: 18px;
                  margin-right: 25px;
                  position: relative;
                  display: inline-block;
                }
                .seat-wrapper {
                  margin: 5px;
                  border: none;
                  background-color: $primary;
                  position: relative;
                  & > i,
                  .seatname {
                    font-size: 20px;
                  }
                  
                }
                .colorPickSeat{
                  color:$green-500;
                }
                .colorSeat{
                  color: #f7b500
                }
                .colorSeatPicked{
                  color: $secondary;
                }
                .showButton{
                  display:none;
                }
                  .entrance {
                    width: auto;
                    transform:  rotate(-90deg);
                  }
                
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px){
    .step02{
      display:none !important;
    }

  }

  @media screen and (max-width: 576px) {
    .user-home{
      right: 0 !important;
    }
    .headerBooking{
      .pl-5{
        padding-left: 0 !important;
      }
    }
    #seatCheckout{
      width: 100%;
      margin-left: 0 !important;
      .seatmap{
        .rowseat{
          .rowname{
            display:none !important;
          }
          .seat-wrapper {
            margin: 2px !important;
            & > i,
            .seatname {
              font-size: 15px !important;
            }
            
          }
        }
      }
    }
    .righttittle{
      position: absolute;
      right: 0;
      padding-right: 15px;
    }
    .form-pay {
      display:none;
    }
    .form-pay-mobile{
      display: block !important;
      padding: 0 50px;
      text-align: center;
      .totalCost{
        color:$green-500;
        font-size: 30px;
      }
      .buyticket {
        button{
        background-color: $secondary;
        width: 100%;
        border:none;
        height: 60px;
        font-size: 24px;
        color: #e9e9e9;
        }
      }
      .notice {
        padding-bottom: 4%;
        .title {
          font-size: 14px;
          color: #4a4a4a;
        }
        .icon {
          margin-right: 8px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  