.footer {
    background-color: #222;
    padding: 1rem;
    h1 {
      font-size: 0.75rem;
      color: $primary;
      margin-bottom: 0.5rem;
    }
    .footer__info {
      display: flex;
      border-bottom: 1px solid $grey-300;
      padding-bottom: 1rem;
      .info__item {
        width: calc(100% / 3);
        .info__rule {
          display: flex;
          .rule__item {
            width: 50%;
            p {
              margin-bottom: 0;
              a {
                font-size: 0.75rem;
                color: $grey-300;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
      .info__partner {
        padding: 0 1rem;
        .partner__img {
          display: flex;
          flex-wrap: wrap;
          a {
            width: 20%;
            margin: 0.5rem -0.5rem 0.5rem 0;
            img {
              width: 1.875rem;
              height: 1.875rem;
              border-radius: 50%;
            }
          }
        }
      }
      .info__connect {
        display: flex;
        .connect__item {
          text-align: center;
          width: 50%;
          a {
            img {
              width: 1.875rem;
              height: 1.875rem;
              margin-right: 0.5rem;
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
    .footer__contact {
      display: flex;
      padding-top: 1.5rem;
      .contact__logo {
        width: 6rem;
        padding-right: 1rem;
        img {
          width: 100%;
          border-radius: 0.5rem;
        }
      }
      .contact__content {
        flex-grow: 1;
        p {
          font-size: 0.75rem;
          color: $grey-100;
          font-weight: 500;
          margin-bottom: 0.3rem;
          span {
            cursor: pointer;
            color: $red-text;
          }
        }
      }
      .contact__check {
        width: 9rem;
        img {
          width: 100%;
        }
      }
    }
    .footer__mobile-info {
      display: none;
      border-bottom: 1px solid $grey-500;
      padding-bottom: 1rem;
      .rule__item {
        width: 50%;
        text-align: center;
        p {
          margin-bottom: 10px;
          a {
            font-size: 0.75rem;
            color: $grey-100;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
      .connect__item {
        width: 50%;
        a {
          img {
            width: 1.875rem;
            height: 1.875rem;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      .footer__info {
        display: none;
      }
      .footer__mobile-info {
        display: flex;
      }
      .contact__content {
        text-align: center;
      }
    }
    @media screen and (max-width: 576px) {
      .footer__mobile-info {
        flex-direction: column;
        .rule__item {
          width: 100%;
        }
        .connect__item {
          width: 100%;
          text-align: center;
        }
      }
      .footer__contact {
        flex-direction: column;
        align-items: center;
        .contact__content {
          padding: 1rem 0;
        }
      }
    }
  }