* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 58.75rem;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  .navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .navbar-brand {
    width: 40%;
    margin:0 0 0 1rem;
    img {
      width: auto;
      height: 3rem;
    }
  }
  .navbar-2{
    width: calc(60% - 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__1 {
    font-size: 0.875rem;
    a {
      color: $black-text;
      cursor: pointer;
      &:hover {
        color: $red-text;
      }
    }
  }
  .nav__2 {
    .btn-sigh-out {
      position: absolute;
      top: 79%;
      right: 0;
      display: none;
    }
    .user-home {
      cursor: pointer;
      &:hover {
        button.btn-sigh-out {
          display: block;
        }
      }
    }
  }
  .header-mobile {
    display: none;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    // .navbar-brand {
    //   margin-right: 54%;
    // }
    .main {
      background-color: transparent;
      border: none;
      padding: 0.5rem 1rem;
      outline: none;
    }
    .dropdown-menu{
      transform: translate(60%,0px)!important;
      animation: showMenu 1s;
      @-webkit-keyframes showMenu {
        from {transform: translate(500px, 0px)}
        to {transform: translate(60%, 0px)}
      }
      @keyframes showMenu {
        from {transform: translate(1000px, 0px)}
        to {transform: translate(60%, 0px)}
      }
      width:70%;
      padding: 10px;
    .user-home{
      span{
        padding: 7px;
      }
    }
    .nav-item{
      font-weight: 500;
      margin: 10px 0;
    }
    }
  }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      width: 30%;
    }
    .navbar-2{
      width:65%;
      .navbar-nav{
        flex-direction: row;
        .nav-item{
          margin: 0 5px;
        }
      }
      .nav__2{
        .dropdown{
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .navbar, .cum-rap-mobile {
      display: none;
    }
    .header-mobile{
      display:flex;
    }
  }
}

