#detailNews {
    max-width: 860px;
    .title {
        position: relative;
        margin-top: 9%;
        p {
            max-width: 800px;
            text-align: center;
            margin: auto;
            font-family: 'Roboto Slab';
            font-size: 48px;
        }
        .author {
            position: absolute;
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(
        -90deg
        );
            color: #737576!important;
            font-size: 12px;
            top: 86%;
            right: -29%;
            span {
                color: #000;
                font-family: "SF Medium";
            }
        }
    }
    .count {
        margin-top: 3%;
        text-align: center;
        .wrapIcon {
            display: inline-table;
            margin-right: 25px;
            cursor: pointer;
        }
        .iconFacebook {
            width: 16px;
            cursor: pointer;
            display: table-cell;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: 2px;
            height: auto;
            width: 18px;
            transition: all .2s;
        }
        span {
            font-size: 14px;
            color: #737576!important;
            text-align: left;
        }
        .amount {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
        }
        .share {
            width: 110px;
        }
    }
    .content {
        margin-top: 40px;
        text-align: justify;
        font-size: 16px;
        h1,p {
            margin: 20px auto 0;
            max-width: 720px;
        }
        a {
            color: #2ba6cb;
        }
        .isVideo {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
            iframe {
                position: absolute;
                top: calc(50% - 210px);
                left: calc(50% - 350px);
            }
        }
        img {
            width: auto;
            max-width: 100%;
            height: auto;
        }
    }
    .line {
        margin-top: 2%;
        margin-bottom: 20px;
    }
    .list {
        margin-bottom: 55px;
    }
    .news2 {
        display: flex;
        .news2__item {
          width: calc(100% / 3);
          margin: 0 0.5rem;
          .news2__img {
            img {
              width: 100%;
              border-radius: 0.2rem;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .news2__info {
            h1 {
              font-size: 1rem;
              margin: 0.5rem 0;
              height: 2.3rem;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover {
                cursor: pointer;
                color: $red-text;
              }
            }
            p {
              font-size: 0.875rem;
              color: $grey-500;
              height: 4rem;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .news2__icon {
              margin-top: 1rem;
              i {
                cursor: pointer;
                color: $grey-100;
                &:hover {
                  font-size: 1.1rem;
                  transition: all 0.2s;
                }
              }
              span {
                margin-left: 0.3rem;
                margin-right: 2rem;
                font-size: 0.75rem;
                color: $grey-100;
              }
            }
          }
        }
        .news2__item2 {
          width: calc(100% / 3);
          .item2__row {
            .item2__info {
              display: flex;
              img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 0.2rem;
                &:hover {
                  cursor: pointer;
                }
              }
              .item2__detail {
                padding-left: 1rem;
                p {
                  cursor: pointer;
                  font-size: 1rem;
                  color: $grey-300;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  &:hover {
                    color: $red-text;
                  }
                }
              }
            }
          }
        }
      }
      .news__more {
        width: 100%;
        text-align: center;
        padding: 3rem 0;
        button {
          padding: 0.4rem 1.5rem;
          background: $primary;
          color: $grey-100;
          font-size: 0.875rem;
          font-weight: 500;
          border: 1px solid $grey-100;
          border-radius: 0.3rem;
          &:hover {
            background-color: $secondary;
            color: $primary;
            border: none;
          }
        }
      }
}
#detailReviewer {
    max-width: 810px;
    margin: auto;
    .dadInputReviewer.newDesign {
        max-width: 580px;
        margin: 0 calc(50% - 290px);
        padding: 0;
    }
    .imgReviewer {
        position: absolute;
        top: 20%;
        left: 3%;
        img {
            height: 36px;
            width: 36px;
            border-radius: 25px;
        }
    }
    .inputReviwer {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 10px 10px 55px;
        width: 100%;
        height: 60px;
        border-radius: 4px;
        border: 1px solid #e8e8e9;
        background: #fff;
        color: #9b9b9b;
        font-size: 14px;
    }
}


@media screen and (max-width:576px){
  .list-news{
    padding: 30px 5px 0 5px;
  }
  .author {
    display: none;
  }
  .isVideo{
    margin: auto;
    iframe{
      width: 300px;
      height: 200px;
      top: 0 !important;
      left: 40px !important;
    }
  }
  .newDesign {
    margin: 0 !important;
  }
  .row {
    margin: 0 !important;
  }
  .nav__news a {
    font-size: 1rem !important;
    &:hover {
      font-size: 1rem;
      transition: 0;
    }
  }
  .news1 {
    display: flex;
    flex-wrap: wrap;
    .news1__item {
      width: 100% !important;
      .news__icon {
        display: none;
      }
    }
  }
  .news2 {
    flex-wrap: wrap;
    .news2__item {
      width: 100% !important;
      .news2__icon {
        display: none;
      }
    }
  }
}