.news {
    padding-top: 4.5rem;
    .nav__news {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 0 1rem;
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: $black-text;
        &:hover {
        cursor: pointer;
          font-size: 1.5rem;
          transition: all 0.2s;
        }
      }
      .active {
        a {
          color: $red-text;
          font-size: 1.5rem;
        }
      }
    }
    .promotion {
        height : 760px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
    }
    .news1, .news2 {
      animation: myshow 1s;
      @-webkit-keyframes myshow {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      @keyframes myshow {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    }
    .news1 {
      display: flex;
      .news1__item {
        width: 50%;
        margin: 0 0.5rem;
        img {
          width: 100%;
          height: 60%;
          border-radius: 0.2rem;
          &:hover {
            cursor: pointer;
          }
        }
        a {
            text-decoration: none;
        }
        h1 {
          font-size: 1rem;
          margin: 0.5rem 0;
          height: 2.3rem;
          &:hover {
            cursor: pointer;
            color: $red-text;
          }
        }
        p {
          font-size: 0.875rem;
          color: $grey-500;
          height: 4rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .news__icon {
          margin-top: 1rem;
          i {
            cursor: pointer;
            color: $grey-100;
            &:hover {
              font-size: 1.1rem;
              transition: all 0.2s;
            }
          }
          span {
            margin-left: 0.3rem;
            margin-right: 2rem;
            font-size: 0.75rem;
            color: $grey-100;
          }
        }
      }
    }
    .news2 {
      display: flex;
      margin-bottom: 1rem;
      .news2__item {
        width: calc(100% / 3);
        margin: 0 0.5rem;
        .news2__img {
          img {
            width: 100%;
            border-radius: 0.2rem;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .news2__info {
            a {
                text-decoration: none;
            }
          h1 {
            font-size: 1rem;
            margin: 0.5rem 0;
            height: 2.3rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              cursor: pointer;
              color: $red-text;
            }
          }
          p {
            font-size: 0.875rem;
            color: $grey-500;
            height: 4rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .news2__icon {
            margin-top: 1rem;
            i {
              cursor: pointer;
              color: $grey-100;
              &:hover {
                font-size: 1.1rem;
                transition: all 0.2s;
              }
            }
            span {
              margin-left: 0.3rem;
              margin-right: 2rem;
              font-size: 0.75rem;
              color: $grey-100;
            }
          }
        }
      }
      .news2__item2 {
        width: calc(100% / 3);
        .item2__row {
          .item2__info {
            display: flex;
            a{
                text-decoration: none;
            }
            img {
              width: 3.125rem;
              height: 3.125rem;
              border-radius: 0.2rem;
              &:hover {
                cursor: pointer;
              }
            }
            .item2__detail {
              padding-left: 1rem;
              p {
                cursor: pointer;
                font-size: 1rem;
                color: $grey-300;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                  color: $red-text;
                }
              }
            }
          }
        }
      }
    }
    .news__more {
      width: 100%;
      text-align: center;
      padding: 3rem 0;
      button {
        padding: 0.4rem 1.5rem;
        background: $primary;
        color: $grey-100;
        font-size: 0.875rem;
        font-weight: 500;
        border: 1px solid $grey-100;
        border-radius: 0.3rem;
        &:hover {
          background-color: $secondary;
          color: $primary;
          border: none;
        }
      }
    }
    @media screen and (max-width: 992px) {
      .news2 {
        padding-top: 3rem;
      }
    }
    @media screen and (max-width: 576px) {
      .nav__news a {
        font-size: 1rem !important;
        &:hover {
          font-size: 1rem;
          transition: 0;
        }
      }
      .news1 {
        display: flex;
        flex-wrap: wrap;
        .news1__item {
          width: 100%;
          .news__icon {
            display: none;
          }
        }
      }
      .news2 {
        flex-wrap: wrap;
        .news2__item {
          width: 100%;
          .news2__icon {
            display: none;
          }
        }
      }
    }
  }
  