
.showTimes {
    padding-top: 4.5rem;
    .nav__film {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 0 1rem;
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: $black-text;
        &:hover {
          font-size: 1.5rem;
          transition: all 0.2s;
        }
      }
      .styleActive {
        a {
          color: $red-text;
          font-size: 1.5rem;
        }
      }
    }
    .carousel-inner {
      animation: myshow 1s;
      @-webkit-keyframes myshow {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      @keyframes myshow {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    }
    .show__film {
      display: flex;
      flex-wrap: wrap;
      .film__col {
        position: relative;
        width: 25%;
        padding: 1rem 0.5rem;
        p {
          margin: 0.5rem 0;
        }
        .film__img {
          position: relative;
          height: 329px;
          img {
            width: 100%;
            height: 100%;
          }
          button {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover{
              opacity: 0.75;
              }
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 3rem;
              height: 3rem;
            }
          }
          .film__rate {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            background-color: $blue;
            opacity: 0.875;
            width: 3.375rem;
            border: 1px solid $blue;
            border-radius: 0.3rem;
            padding-bottom: 0.5rem;
            p {
              text-align: center;
              margin: 0 0.5rem;
              color: $primary;
            }
            .rate__img {
              display: flex;
              img {
                width: calc(100% / 5);
              }
            }
          }
          .hover__show {
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000000, transparent);
          }
        }
        .film__info {
          position: relative;
          .film__name {
            height: 42px;
            span {
              background-color: $secondary;
              color: $primary;
              padding: 0.05rem 0.4rem;
              border-radius: 0.2rem;
            }
            p {
              font-size: 1rem;
              font-weight: 600;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .film__time {
            color: $grey-300;
          }
          .hover__show2 {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $secondary;
            color: $primary;
            text-align: center;
            text-decoration: none;
            border-radius: 0.3rem;
            width: 100%;
            font-size: 1.5rem;
            padding: 0.3rem 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s;
            &:hover{
              opacity: 0.75;
            }
          }
        }
        &:hover {
          .hover__show,
          .hover__show2,
          button {
            visibility: visible;
            opacity: 1;
          }
          .film__name,
          .film__time {
            visibility: visible;
            opacity: 0;
          }
        }
      }
    }
    .slides__film {
      .arrow1__slides {
        left: -7rem;
      }
      .arrow2__slides {
        right: -7rem;
      }
      .arrow__img {
        width: 3rem;
        height: 3rem;
      }
    }
    @media screen and (max-width: 1200px) {
      .carousel-control-prev,
      .carousel-control-next {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .showTimes {
        padding-top: 1.5rem;
      }
    }
    @media screen and (max-width: 576px) {
      .carousel{
        display: none;
      }
      .showTimes-mobile-small{
        display: block !important;
        .show__film {
          display: flex;
          flex-wrap: wrap;
          .film__col {
            position: relative;
            width: 50%;
          }
        }
      }
    }
  }
  