html {
  overflow-y: scroll;
}
.slides {
  position: relative;
  max-width: 100%;
  margin-top: 58px;
  cursor: pointer;
  .carousel:hover {
    .play__video {
      display: block;
    }
  }
  .carousel-indicators {
    li {
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      margin-bottom: 6rem;
    }
    .active {
      background-color: $secondary;
    }
  }
  .icon__slides {
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  .carousel{
    height: 51.125rem;
  }
  .carousel-item {
    height: 51.125rem;
    .img-slides {
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
    }
    .shadow::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top, #000000, transparent 20%);
    }
    .play__video {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        opacity: 0.75;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: 5rem;
      }
    }
  }
  .select__menu {
    z-index: 99;
    display: flex;
    align-items: center;
    width: 58.75rem;
    background-color: $primary;
    height: 5rem;
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .dropdown-menu {
      max-height: 300px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0.3rem;
        background: $grey-70;
      }
      &::-webkit-scrollbar-thumb {
        background: $grey-100;
        border-radius: 10px;
      }
    }
    .btn {
      width: 100%;
      height: 40px;
      background-image: url(./../images/arrowdown.png);
      background-repeat: no-repeat;
      background-position: 97%;
      text-align: left;
      border-right: 1px solid $grey-100;
      border-radius: 0;
      font-size: 0.875rem;
      cursor: pointer;
    }
    .select__film {
      width: 40%;
    }
    .btn-group {
      width: 100%;
      .detail__menu {
        width: 25%;
        max-height: 300px;
      }
      .book__tickets {
        padding: 0 1rem;
        button {
          width: 100%;
          height: 40px;
          background-color: $grey-500;
          border: 0;
          border-radius: 0.3rem;
          color: $primary;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .carousel-indicators{
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .carousel{
      height: auto;
    }
    .carousel-item {
      height: 20rem;
    }
    .select__menu {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
}
