.theaters {
  
    padding-top: 5rem;
    .theaters__info {
      display: flex;
      border: 1px solid $grey-70;
      border-right: none;
      max-height: 44rem;
      .scroll-bar{
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 0.3rem;
          background: $grey-70;
        }
        &::-webkit-scrollbar-thumb {
          background: $grey-100;
          border-radius: 10px;
        }
      }
      .theaters__logo {
        margin-bottom: 0;
        width: 5.75rem;
        list-style: none;
        border-right: 1px solid $grey-70;
        position: relative;
        .active {
          opacity: 1;
        }
        li {
          margin-right: 0.1rem;
          position: relative;
          a {
            padding: 1.3125rem;
            img {
              width: 3.125rem;
              padding: 1rem 0;
              border-bottom: 1px solid $grey-70;
              opacity:0.3;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
            }
          }
        }
      }
      .theaters__address {
        width: 30%;
        border-right: 1px solid $grey-70;
        .active {
          opacity: 0 !important;
        }
        .address__item {
          position: relative;
          display: flex;
          padding: 1rem;
          .shadow__item {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
            background-color: #FFFFF0;
            &:hover {
              cursor: pointer;
              opacity: 0;
            }
          }
          img {
            width: 3.125rem;
          }
          .address__info {
            padding-left: 0.5rem;
            line-height: 1.2;
            span {
              font-size: 0.875rem;
              font-weight: 600;
            }
            p {
              font-size: 0.75rem;
              color: $grey-100;
              margin-bottom: 0;
            }
            a {
              font-size: 0.75rem;
              color: $secondary;
            }
          }
        }
      }
      .theaters__film {
        width: calc(100% - 30% - 5.75rem);
        .film__item {
          padding: 1rem 1rem 0.5rem 1rem;
          .film__info {
            display: flex;
            align-items: center;
            img {
              width: 3.125rem;
              height: 3.125rem;
            }
            .film__detail {
              padding-left: 1rem;
              p {
                margin-bottom: 0;
              }
              span {
                background-color: $secondary;
                color: $primary;
                padding: 0.03rem 0.5rem;
                border-radius: 0.2rem;
              }
              .name {
                font-size: 0.875rem;
                font-weight: 600;
              }
              .time {
                font-size: 0.75rem;
                color: $grey-100;
              }
            }
          }
          .film__schedule {
            padding-top: 0.5rem;
            .film__quality {
              font-size: 1rem;
              font-weight: 600;
            }
            .film__time {
              padding-top: 0.5rem;
              display: flex;
              flex-wrap: wrap;
              border-bottom: 1px solid $grey-70;
              max-height: 110px;
              overflow: auto;
              &::-webkit-scrollbar {
                width: 0.3rem;
                background: $grey-70;
              }
              &::-webkit-scrollbar-thumb {
                background: $grey-100;
                border-radius: 10px;
              }

              a {
                color: $grey-100;
                font-weight: 600;
                width: calc(25% - 1rem);
                padding: 0.2rem;
                margin: 0 1rem 1rem 0;
                border: 1px solid $grey-100;
                border-radius: 0.5rem;
                background-color: $grey-50;
                text-decoration: none;
                text-align: center;
                span {
                  color: $green-500;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  