.slides {
  .book__tickets {
    padding: 0 1rem;
    a {
      display: block;
      width: 100%;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      background-color: #4a4a4a;
      border: 0;
      border-radius: 0.3rem;
      color: #ffffff;
    }
  }
  .icon__slides {
    img {
      margin-bottom: 5rem;
    }
  }
  .carousel {
    padding-bottom: 43%;
    height: unset !important;
    .carousel-inner {
      position: absolute;

      top: 0;
      left: 0;
      height: 100%;
      .carousel-item {
        height: 100%;
        a {
          height: 100%;
          .img-slides {
            height: 100%;
          }
          .shadow {
            height: 100%;
          }
        }
      }
    }
  }
}
