@media screen and (min-width: 576px) {
  .contentMain .modal-dialog {
    max-width: 800px !important;
  }
}

.contentMain .modal .modal-body button {
  position: unset !important;
}
/*# sourceMappingURL=index.css.map */