.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post .post__Top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post .post__Top .post__Avatar {
  margin-right: 10px;
}

.post .post__Top .post__TopInfo > h3 {
  font-size: medium;
  margin-bottom: 0px;
}

.post .post__Top .post__TopInfo > p {
  font-size: small;
  color: gray;
  margin-bottom: 4px;
}

.post .post__Bottom {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 25px;
}

.post .post__image img {
  width: 100%;
}

.post .post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  font-size: medium;
  color: gray;
  padding: 15px;
}

.post .post__options .post__option {
  display: flex;
  align-items: center;
  padding: 5px;
}

.post .post__options .post__option p {
  margin-left: 4px;
  margin-bottom: 0px;
}

.post .post__options .post__option svg,
.post .post__options .post__option p {
  cursor: pointer;
}

.post .post__options .post__option button {
  border: none;
  background-color: transparent;
}

.post .post__options .post__option button:focus {
  outline: none;
}

.post .post__options .post__option svg:hover {
  transform: scale(1.2);
}
/*# sourceMappingURL=post.css.map */