@media screen and (max-width: 768px) {
  .sidebar {
    bottom: unset !important;
    width: 100% !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper {
    overflow: unset !important;
    width: 100%;
    display: flex;
  }
}

.main-panel {
  float: unset !important;
  width: 100%;
}
/*# sourceMappingURL=reponsiveDash.css.map */