.sidebar {
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
    bottom: unset !important;
    width: 100% !important;
    height: 50px !important;
    overflow: unset !important;
  }
  @media screen and (max-width: 576px) {
  }
  .sidebar-wrapper {
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
      overflow: unset !important;
      width: 100% !important;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;
      padding-bottom: unset !important;
    }
    @media screen and (max-width: 576px) {
    }
    .routeAdmin {
      @media screen and (max-width: 1200px) {
      }
      @media screen and (max-width: 992px) {
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 576px) {
      }
    }

    .routeAdmin-mobile {
      display: none;
      margin-bottom: unset !important;

      @media screen and (max-width: 1200px) {
      }
      @media screen and (max-width: 992px) {
      }
      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 0;
      }
      @media screen and (max-width: 576px) {
      }
    }
    .navbar__mobile {
      overflow: hidden;

      position: absolute;
      right: 0;
      top: 4rem;

      #multiCollapseExample1 {
        height: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #2f64d5;
        transform: translateY(0%) !important;

        @keyframes showMenuAd {
          from {
            transform: translateY(-100%);
          }
          to {
            transform: translateY(0%);
          }
        }
        animation: showMenuAd 1s;
      }
    }
    .logo {
      @media screen and (max-width: 1200px) {
      }
      @media screen and (max-width: 992px) {
      }
      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: 576px) {
      }
      .button_logout {
        @media screen and (max-width: 1200px) {
        }
        @media screen and (max-width: 992px) {
        }
        @media screen and (max-width: 768px) {
          position: unset !important;
          display: block;
          transform: unset;
        }
        @media screen and (max-width: 576px) {
        }
      }
    }
  }
}
.main-panel {
  h1 {
    font-size: xx-large;
  }
  p,
  h3,
  div {
    font-size: medium;
  }
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
    float: unset !important;
    width: 100% !important;
    margin-top: 50px;
  }
  @media screen and (max-width: 576px) {
  }
}
