.loaderHome {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
@keyframes loc {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
    opacity: 0.8;
  }
  75% {
    transform: rotate(45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
.loaderHome div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loaderHome div img {
  width: 100px;
  height: 100px;
  animation: loc 4s ease infinite;
}
