.detail-movie {
  #cum-rap {
    padding-top: 0rem;
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    .container {
      position: relative;
      .scroll-bar::-webkit-scrollbar {
        height: 0.3rem;
      }
      .theaters__address {
        position: absolute;
        top: 0;
        left: 5.95rem;
        right: 0;
        width: unset;
        height: 83px;
        // border-bottom: 1px solid #ddd;
        border-right: unset;
        background-color: white;
        color: black;

        ul {
          display: flex;
          overflow-x: auto;
          overflow-y: unset;
          list-style: none;
          // height: 100%;
          margin-bottom: 0;
          li {
            &:hover,
            .p-active {
              background-color: #0a2029;
              color: white;
            }
            a {
              cursor: pointer;
              z-index: 10;
            }

            p {
              width: 80px;

              text-align: center;
              font-weight: 500;
              margin-bottom: 0;
              padding: 1rem;
            }
          }
        }
      }
      .theaters__film {
        width: unset;
        position: absolute;
        left: 5.95rem;
        right: 0;
        top: 83px;

        bottom: 0;
      }
    }
  }
}
