#circleSuccess {
  width: 100% !important;
  height: 100% !important;
  color: #7ed321 !important;
}
#soDiem {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}
body .detail-movie .movie .filmPosterTop .circleStar .starMain {
  margin-left: 0 !important;
}
.detail-movie {
  .infoMain {
    & > p {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
    }
  }
  .movie {
    .filmPosterTop {
      .posterMain {
        display: inline;
      }
      .circleStar {
        margin-top: 12%;
      }
      div.infoMain {
        margin-top: 6%;
        margin-bottom: 6%;
      }
    }
    // .filmInTop {
    //   background-size: cover;
    //   background-position: center center;
    //   background-repeat: no-repeat;
    // }

    .movie-img {
      img {
        height: 600px !important;
      }
    }
    .movie-content {
      p {
        text-align: justify;
      }
      position: unset !important;
      max-width: unset !important;
      max-height: 98px !important;
      padding: 0px 10px 0px 0px !important;
      margin: 10px 0px 10px 10px;
    }
  }
}
