.contentMain,
#detailReviewer {
  @media screen and (min-width: 576px) {
    .modal-dialog {
      max-width: 800px !important;
    }
  }
  .modal .modal-body button {
    position: unset !important;
  }
}
#tin-tuc {
  .new__icon {
    button {
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
    svg:hover {
      transform: scale(1.2);
    }
  }
}
