.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  .post__Top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    .post__Avatar {
      margin-right: 10px;
    }
    .post__TopInfo {
      & > h3 {
        font-size: medium;
        margin-bottom: 0px;
      }
      & > p {
        font-size: small;
        color: gray;
        margin-bottom: 4px;
      }
    }
  }
  .post__Bottom {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 25px;
  }
  .post__image {
    img {
      width: 100%;
    }
  }
  .post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    font-size: medium;
    color: gray;

    padding: 15px;
    .post__option {
      display: flex;

      align-items: center;
      padding: 5px;
      p {
        margin-left: 4px;
        margin-bottom: 0px;
      }
      svg,
      p {
        cursor: pointer;
      }
      button {
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }
      svg:hover {
        transform: scale(1.2);
      }
    }
  }
}
