// .containerTable {
//   margin-top: 5rem;
//   height: 300px;
//   overflow-y: auto;
//   width: 100%;
//   border: 2px solid #dee2e6;
// }

.table-fixed {
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
    display: block;
    padding: 0 !important;
  }
  @media screen and (max-width: 576px) {
  }
  tr {
    display: block;
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    @media screen and (max-width: 576px) {
    }
  }

  .col {
    width: 12.5%;
  }
  .col-two {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    @media screen and (max-width: 576px) {
    }
  }
  tbody {
    width: 100%;
    display: block;
    height: 300px;
    overflow: auto;
    font-size: small;
    tr {
      @media screen and (max-width: 1200px) {
      }
      @media screen and (max-width: 992px) {
      }
      @media screen and (max-width: 768px) {
        background-color: unset !important;
      }
      @media screen and (max-width: 576px) {
      }
      td:last-child {
        border-right: 0;
      }
      td {
        @media screen and (max-width: 1200px) {
        }
        @media screen and (max-width: 992px) {
        }
        @media screen and (max-width: 768px) {
          padding: 1px;
        }
        @media screen and (max-width: 576px) {
        }
      }
    }
  }
  thead,
  thead > th {
    background: #4d7275;
    color: #fff;
    font-size: medium;
    display: block !important;
  }
  thead {
    tr {
      th {
        border: 0 !important;
        @media screen and (max-width: 1200px) {
        }
        @media screen and (max-width: 992px) {
        }
        @media screen and (max-width: 768px) {
          padding: 0;
        }
        @media screen and (max-width: 576px) {
        }
      }
    }
  }

  #collapseExample1 {
    z-index: 10;
    .card-body {
      padding: 0.5rem !important;
    }
    button {
      border: none;
      background-color: transparent;
      padding: 1rem 0rem;
      border-bottom: 1px gray solid;
      &:hover {
        background-color: greenyellow;
      }
    }
  }
}

// .table-fixed thead,
// .table-fixed tbody,
// .table-fixed tr,
// .table-fixed td,
// .table-fixed th {
//   display: block;
// }

// .table-fixed tbody td,
// .table-fixed tbody th,
// .table-fixed thead tr th {
//   float: left;
// }
